<h1>
  List of all movies
</h1>
<hr>

<table border = 1>
  <tbody>
  <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th></th>
    </tr>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td>
          <%= image_tag(movie.image, style: "width: 250px;")%>
        </td>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director.name %></td>
        <td>
          <%= link_to 'Show Details', "/movies/#{movie.id}", class: 'btn btn-primary' %> <!-- Link to the director's show page -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
